<% if browser.mobile? %>
	<h1>Aktivität</h1>
<% end %>

<div class="" style="padding-top: 10px; margin-right: 3px">
	<a href="#" id="cal-previous" class="button">&lt;</a>
	<a href="#" id="cal-next" class="button">&gt;</a>
</div>

<div style="margin-top: 10px">
	<div id="cal-heatmap"></div>
	<ul>
		<li class="legend laufen">Laufen (1)</li>
		<li class="legend bauch">Bauch- und Rückentraining (2)</li>
		<li class="legend bein">Beintraining (3)</li>
		<li class="legend ober">Oberkörpertraining (4)</li>
	</ul>
</div>
<script type="text/javascript">
	var cal = new CalHeatMap();

	//siehe mein Ruby-Skript convert_to_epoch für die Generierung von activity.json
	cal.init({
		domain: "month",
		subDomain: "x_day",
		data: "activity.json",
		itemName: ["Laufen", "Oberkörper-/Bauch-/Beintraining (siehe unten)"],
		cellSize: 20,
		cellPadding: 5,
		domainGutter: 20,
		range: <%= if_mobile 1, 4 %>,
		start: (new Date()).setMonth(new Date().getMonth() - <%= if_mobile 0, 3 %>),
		domainDynamicDimension: false,
		subDomainTextFormat: "%d",
		displayLegend: false,
		legend: [1, 2, 3, 4],
		legendColors: {
		    min: "#ffffff",
		    max: "#000000"
		  },
		legendOrientation: "vertical",
		highlight: "now",
		previousSelector: "#cal-previous",
		nextSelector: "#cal-next",
		minDate: new Date(2015, 7),
		maxDate: new Date()
	});
</script>