<h1>Nutzer bearbeiten</h1>

<%= render 'form' %>

<%= link_to '', users_path, class: "button icon-back" %>
<%= link_to '', @user, class: "button icon-show" %>
<%= link_to '', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "button icon-delete" %>
