<h1>Lauf bearbeiten</h1>

<%= render 'form' %>

<%= link_to '', compact_runs_path, class: "button icon-back" %>
<%= link_to '', @run, class: "button icon-show" %>
<%= link_to '', @run, method: :delete, data: { confirm: 'Are you sure?' }, class: "button icon-delete" %>
