<h1><%= image_tag("Arnold.jpeg", :size => "35", :alt => "Logo") %>Strecken</h1>

<%= link_to ' Lauf', new_run_path, "class" => "button icon-new" %>
<%= link_to 'Läufe', runs_path, "class" => "button" %>


  <h2>Würzburg und seine Wälder</h2>
  <h3>Stadt</h3>
  <ul>
    <li><a href="http://goo.gl/maps/rMrQr">Gerbrunnumrundung (11,5 km nachttauglich)</a></li>
    <li><a href="http://goo.gl/maps/BkZ4t">Randersacker Main (10,9 km nachttauglich)</a></li>
    <li><a href="http://goo.gl/maps/k4TVv">Midnight Street Run 1 (8,8 km nachttauglich)</a></li>
    <li><a href="http://goo.gl/maps/Zt9wo">Midnight Street Run 2 (8,9 km nachttauglich)</a></li>
    <li><a href="http://goo.gl/maps/zd13P">Midnight Street Run 3 (9,2 km nachttauglich)</a></li>
    <li><a href="http://goo.gl/maps/h7F0m">Stadtrundlauf (12,2 km)</a></li>
    <li><a href="http://goo.gl/maps/AMBv9">Lauftreff Hubland (16,7 km)</a></li>
    <li><a href="http://goo.gl/maps/mpbZA">Nördlicher Wald (4,2 km)</a></li>
    <li><a href="https://goo.gl/GTduRo">Start Pacotistraße (9,4 km)</a></li>
  </ul>

  <h3>Waldkugel und Guttenberger Wald</h3>
  <ul>
    <li><a href="http://goo.gl/maps/nC5j7">Krumme Waldkugel (11,0 km)</a></li>
    <li><a href="http://goo.gl/maps/ospDc">Waldkugelwolke (8,8 km)</a></li>
    <li><a href="http://goo.gl/maps/9nhtW">Nordwaldkugel (11,7 km)</a></li>
    <li><a href="http://goo.gl/maps/zAfUD">Nordwaldkugel 2 (13,3 km)</a></li>
    <li><a href="http://goo.gl/maps/4JUIo">Nordwaldkugel 3 (14,2 km)</a></li>
    <li><a href="http://goo.gl/maps/4JUIo">Nordwaldkugel 4 (15,2 km)</a></li>
    <li><a href="http://goo.gl/maps/8vhjK">Nordwaldkugel 5 (13,7 km)</a></li>
    <li><a href="http://goo.gl/maps/MHy4D">Waldkugel Südost 1 (6,4 km)</a></li>
    <li><a href="http://goo.gl/maps/nThvZ">Waldkugel Südost 2 (8,6 km)</a></li>
    <li><a href="http://goo.gl/maps/xOt99">Waldkugel Südost 3 (10,8 km)</a></li>
    <li><a href="http://goo.gl/maps/9jQHn">Waldkugel Südost 4 (11,6 km)</a></li>
    <li><a href="http://goo.gl/maps/nZ4iw">Waldkugel Südost 5 (12,9 km)</a></li>
    <li><a href="http://goo.gl/maps/pUdgu">Waldkugelcrossing (12,0 km)</a></li>
    <li><a href="http://goo.gl/maps/FJcTZ">Waldkugelcrossing 2 (13,2 km)</a></li>
    <li><a href="http://goo.gl/maps/H6VQB">Waldkugelcrossing 3 (12,3 km)</a></li>
    <li><a href="http://goo.gl/maps/ZZI6q">Waldkugelcrossing 4 (14,1 km)</a></li>
    <li><a href="https://goo.gl/r4fB0q">Waldkugelcrossing Short (8,5 km)</a></li>
    <li><a href="http://goo.gl/maps/2Bh53">Guttenbergkratzer (12,7 km)</a></li>
    <li><a href="http://goo.gl/maps/xUcRP">Waldkugel-Guttenberg-Crossing (15,2 km)</a></li>
  </ul>

  <h3>Guttenberger Wald <a href="http://goo.gl/maps/8DLEA">(Link zum Hinweg 12,9 km)</a></h3>
  <ul>
    <li><a href="http://goo.gl/maps/ON0D5">Guttenbergkreuzer (8,8 km)</a></li>
    <li><a href="https://www.google.de/maps/dir/49.734385,9.879349/49.7285902,9.8796495/49.7044669,9.8613331/49.7056902,9.865471/49.7215023,9.8719543/49.7302139,9.8525333/49.7364061,9.8698011/49.7379339,9.8699713/49.7368847,9.8792576/49.7344688,9.8793489/@49.7221984,9.8845035,4622m/data=!3m1!1e3!4m13!4m12!1m1!4e1!1m0!1m0!1m0!1m0!1m0!1m0!1m0!1m0!1m0!3e2?hl=de">Guttenbergexpedition (11,9 km)</a></li>
  </ul>

  <h3>Gramschatzer Wald <a href="http://goo.gl/maps/1HOxq">(Link zum Hinweg 14,2 km)</a></h3>
  <ul>
    <li><a href="http://goo.gl/maps/sIi76">Gramschatzer Expedition (11,0 km)</a></li>
  </ul>


<h2>Eltmann und seine Wälder</h2>

  <h3>Eltmann</h3>
  <ul>
    <li><a href = "http://g.co/maps/2fs7c">Eschenbach (9,0 km variabel nachttauglich)</a></li>
    <li><a href = "http://g.co/maps/62kz6">Hundeplatz Ost (7,2 km)</a></li>
    <li><a href = "http://g.co/maps/9qgw2">Hundeplatz Ost 2 (9,1 km)</a></li>
    <li><a href = "http://g.co/maps/sa5ca">Hundeplatz West (6,0 km)</a></li>
    <li><a href = "http://g.co/maps/meued">Hundeplatz West 2 (7,0 km)</a></li>
    <li><a href = "http://goo.gl/maps/Vf92N">Limbach (8,0 km variabel nachtttauglich)</a></li>
    <li><a href = "http://g.co/maps/5f49e">Eltmann Wald (5,9 km)</a></li>
    <li><a href = "http://g.co/maps/hp3ns">Eltmann Wald 2 (7,7 km)</a></li>
    <li><a href = "http://g.co/maps/q9pxd">Eltmann Wald 3 (10,0 km)</a></li>
    <li><a href = "http://goo.gl/maps/0Z0E">Eltmann Wald 4 (10,2 km)</a></li>
    <li><a href = "http://g.co/maps/h7mj3">Eltmann Wald X (8,7 km)</a></li>
    <li><a href = "http://goo.gl/maps/zbyP">Eltmann Wald 5 (11,3 km)</a></li>
    <li><a href = "http://goo.gl/maps/CcKLW">Urban Track (7,8 km)</a></li>
    <li><a href = "http://goo.gl/maps/bC4VQ">Eltmann West (9,6 km)</a></li>
    <li><a href = "http://goo.gl/maps/KMxi">Ebelsberg (9,8 km)</a></li>
    <li><a href = "http://goo.gl/maps/cWIM">Limbach Insel (8,9 km)</a></li>
    <li><a href = "http://goo.gl/maps/xfrE">Stettfeldkratzer (12,9 km)</a></li>
    <li><a href = "http://goo.gl/maps/0AjEH">Eschenwald (10,9 km)</a></li>
    <li><a href = "http://goo.gl/maps/iXXl0">Schulstart (10,0 km)</a></li>
    <li><a href = "http://goo.gl/maps/UnZVL">Waldei (12,9 km)</a></li>
    <li><a href = "http://goo.gl/maps/lk4tf">Weisbrunner Steigung (12,0 km)</a></li>
  </ul>

  <h3>Steinbach</h3>
  <ul>
    <li><a href="http://g.co/maps/zqj38">Steinbach Südwest (4,8 km nachttauglich)</a></li>
    <li><a href="http://g.co/maps/ysygu">Steinbach Nordwest (6,1 km)</a></li>
    <li><a href="http://g.co/maps/mxbn6">Steinbach Nordwest 2 (7,4 km)</a></li>
    <li><a href="http://g.co/maps/pmezq">Steinbach Nordwest 3 (10,2 km)</a></li>
    <li><a href="http://g.co/maps/kq2v7">Steinbach Nordwest 4 (8,4 km)</a></li>
    <li><a href="http://g.co/maps/yjr43">Steinbach West (8,2 km)</a></li>
    <li><a href="http://g.co/maps/6xkw9">Steinbach Nord (8,5 km)</a></li>
    <li><a href="http://goo.gl/maps/kV7G">Steinbach Nord 2 (8,6 km)</a></li>
    <li><a href="http://g.co/maps/ew4dg">Steinbach Nord 3 (6,2 km)</a></li>
    <li><a href="http://goo.gl/maps/KL9c">Steinbach Schmachtenberg (8,6 km)</a></li>
    <li><a href="http://goo.gl/maps/c3w1">Rand (11,6 km)</a></li>
    <li><a href="http://goo.gl/maps/2aTqF">Waldschleifen (11,2 km)</a></li>
    <li><a href="http://goo.gl/maps/cWYXt">Waldschleifen 2 (12,7 km)</a></li>
    <li><a href="http://goo.gl/maps/eYhtV">Freiluftsteig (8,2 km)</a></li>
    <li><a href="http://goo.gl/maps/UyK5J">Wadenbeißer (10,3 km)</a></li>
  </ul>

  <h3>Schloss Gleisenau</h3>
  <ul>
    <li><a href="http://goo.gl/maps/p9Cw">Abstecher Schönbrunn (11,0 km)</a></li>
    <li><a href="http://goo.gl/maps/GbDM">5000m Lauf THS BM 2012 (5,0 km)</a></li>
  </ul>
